@model IEnumerable<E_Commerce_MVC.Models.EntitiesViewModel.SubCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategoryDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainCategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SubCategoryId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SubCategoryId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SubCategoryId })
                </td>
            </tr>
        }
    </tbody>
</table>