@model E_Commerce_MVC.Models.EntitiesViewModel.ProductViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<h1>Details</h1>
<div>
    <h4>ProductViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDiscription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDiscription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubcategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubcategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubcategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubcategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.b_deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.b_deleted)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit",
        "Edit",
        new {
            /* id = Model.PrimaryKey */
        }) |
    <a asp-action="Index">Back to List</a>
</div>