@model IEnumerable<E_Commerce_MVC.Models.EntitiesViewModel.OrderViewModel>
@{
    ViewData["Title"] = "Orders";
}
<div class="container">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NetValue)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetValue)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrderNo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrderNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderNo })
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>