@model IEnumerable<E_Commerce_MVC.Models.EntitiesViewModel.StoreViewModel>
@{
    ViewData["Title"] = "Stores";
    Layout = "~/Areas/Dashboard/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StoreId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.StoreId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StoreId })
                </td>
            </tr>
        }
    </tbody>
</table>